#header {
    background-color: rgb(0, 172, 172);
    color: white;
    /* position: absolute; */
    display: flex;
    justify-content: center;
}

#taskInput {
    display: flex;
    justify-content: center;
}

html, body, #root, head {
    border-style: none;
    margin: 0;
    padding: 0;   
    font-family: Roboto;
}

#tabs {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.tab {
    width: 100%;
    border-style: none;
    background-color: rgb(0, 172, 172);
    color: white;
    cursor: pointer;
}

#create {
    border-style: solid;
    border-radius: 2px;
    border-color: gainsboro;
    background-color: white;
    cursor: pointer;
}